.sidebar-Container{
    width:22%;
    background-color: rgb(65, 62, 62);
    height: auto;
    min-height: 100vh;
    color: white;
}
ul a{
    font-size:xx-large;
    font-weight: 600;
    text-decoration: none;
}
ul li{
    font-size:x-large;
    font-weight: 500;
    list-style-type: none;
}
li a i{
    margin-right: 10px;
}